/* Reset general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilo del body */
body {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  color: #333;
}

/* Estilos del contenedor del equipo */
.team-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1;
}

/* Estilos para cada miembro del equipo */
.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member img {
  width: 150px;
  height: 150px;
  margin-bottom: 1em;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.team-member button {
  background-color: #003366;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.team-member button:hover {
  background-color: #0055aa;
}

/* Ajustes para tablets (pantallas medianas) */
@media screen and (max-width: 768px) {
  .team-container {
    flex-direction: column;
    gap: 20px;
  }

  .team-member {
    width: 80%;
    margin: 10px auto;
  }
}

/* Ajustes para móviles (pantallas pequeñas) */
@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  header nav {
    flex-direction: column;
    align-items: center;
  }

  ul.menu {
    flex-direction: column;
    align-items: center;
}

  .team-member img {
    width: 100px;
    height: 100px;
  }

  .team-member button {
    font-size: 0.9em;
    padding: 10px 15px;
  }
}
